<div class="lazy-image-wrapper" style="background-image: url('{{ imageBase64 }}');">
    <img class="lazy-image"
         title="{{ title }}"
         alt="{{ alt }}"
         src="{{ imageUrl }}"
         onload="this.style.opacity = '1'"
    />
</div>